# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3

# Virtual environment
venv/
.venv/
env/

# Django
db.sqlite3
media/

# Environment variables
.env

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Static build files
staticfiles/

# Test and cache
.pytest_cache/
.coverage
htmlcov/